<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @worker.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @worker.last_name %>
</p>

<p>
  <strong>Employer:</strong>
  <%= @worker.employer %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @worker.job_title %>
</p>

<p>
  <strong>Union:</strong>
  <%= @worker.union %>
</p>

<p>
  <strong>Message:</strong>
  <%= @worker.message %>
</p>

<%= link_to 'Edit', edit_worker_path(@worker) %> |
<%= link_to 'Back', workers_path %>
